<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HVAC | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>


    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+12) 345 678 910</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
                            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__phone">
                                <i class="fa fa-phone"></i>
                                <span>(+12) 345 678 910</span>
                            </div>
                            <div class="header__top__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <!--  수정  -->
                            <ul>
                                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'car' %}">충전소 찾기</a></li>
                                <li><a href="{% url 'blog' %}">전기차 정보</a></li>
                                <li><a href="#">구매 및 지원</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'about' %}">국고 보조금</a></li>
                                        <li><a href="{% url 'car_details' %}">지자체 보조금</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'about' %}">게시판</a></li>
                                <li><a href="{% url 'contact' %}">마이페이지</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'car_details' %}">내 정보</a></li>
                                        <li><a href="{% url 'blog_details' %}">즐겨찾기</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="header__nav__widget">
                            <div class="header__nav__widget__btn">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
                            </div>
                            <a href="#" class="primary-btn">Add Car</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb End -->
    <!-- 막아볼게 -->
    <div class="breadcrumb-option set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>보조금 계산</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Begin -->

    <!-- About Us Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title1 about-title">
                        <p>• 해당 보조금 계산기는 2021년 변경된 보조금 산출방식을 자동으로 계산해주는 기능을 제공한다.</p>
                        <br>
                        <h5 id="cal_process">1. 지역 선택 -> 2. 브랜드 선택 -> 3. 차종 선택 -> 계산 실행</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Call Section Begin -->
    <div class="container">
            <div class="about__feature">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-4">국비 보조금<img class="moneyim" src="{% static 'img/about/money.png' %}" alt="" /></h5>
                                <h1 class="mt-1 mb-3">{{country_money}} 만원</h1>
                                <div class="mb-1">
                                    <span class="text-muted">가격계수</span>
                                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> {{price_coef}}% </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-4">지자체 보조금<img class="moneyim" src="{% static 'img/about/money.png' %}" alt="" /></h5>
                                <h1 class="mt-1 mb-3">{{area_state_money}} 만원</h1>
                                <div class="mb-1">
                                    <span class="text-muted">보급대수 현황에 따라 변동됨</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-4"  style="color:#17a2b8;font-weight:700;font-size:17px;">최종 보조금<img class="moneyim" src="{% static 'img/about/money.png' %}" alt="" /></h5>
                                <h1 class="mt-1 mb-3">{{total_money}} 만원</h1>
                                <div class="mb-1">
                                    <span class="text-muted">국고 보조금 + 지자체 보조금</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <section class="call spad set-bg" data-setbg="{% static 'img/about/calculator.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <form method="POST" class="call__form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3">
                                <select name="sel1" id="sel1">
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select name="sel2" id="sel2" style="display:None">
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select name="sel3" id="sel3" style="display:None">
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" class="site-btn">계산 실행</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Call Section End -->
    <br>
    <br>
    <!-- <section class="about spad"> </section> -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us</h2>
                            <br><h5> 2조 전기차 웹사이트</h5><br>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+12) 345 678 910</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> Colorlib@gmail.com</div>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-3">
                        <div class="footer__widget">
                            <ul>
                                <li><a href="{% url 'map' %}"><i class="fa fa-angle-right"></i>충전소 찾기</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="footer__widget">
                            <ul>
                                <li><a href="{% url 'car' %}"><i class="fa fa-angle-right"></i>전기차 정보</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="footer__widget">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>구매 및 지원</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <ul>
                            <li><a href="{% url 'question_list' %}"><i class="fa fa-angle-right"></i> 게시판</a></li>
                        </ul>
                        <ul>
                            <li><a href="contact"><i class="fa fa-angle-right"></i>로그인</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer__social">
                    <a href="https://www.youtube.com/results?search_query=%EC%A0%84%EA%B8%B0%EC%B0%A8" class="facebook"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/bongsuyeon/Project_Electric-Vehicle" class="twitter"><i class="fa fa-github"></i></a>
                    <a href="https://www.google.com/search?safe=strict&hl=ko&sxsrf=ALeKk02fcjZOzs1ygjVQcDQKtX4wKanO0g%3A1613440586986&source=hp&ei=SiYrYMvDOdiDoATLh6CAAg&iflsig=AINFCbYAAAAAYCs0WuOAP2uaVCh25qmHNfhW6Kic2pLM&q=%EC%A0%84%EA%B8%B0%EC%B0%A8&oq=%EC%A0%84%EA%B8%B0%EC%B0%A8&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyCAgAELEDEIMBMggIABCxAxCDATINCAAQhwIQsQMQgwEQFDIICAAQsQMQgwEyCAgAELEDEIMBMggIABCxAxCDATIICAAQsQMQgwEyCAgAELEDEIMBOg0IIxDNAxDqAhAnEIsDOgoIIxDqAhAnEIsDOgIIADoFCAAQsQM6BwgAEIcCEBRQtBVYmCBg3yFoAnAAeAGAAaQBiAGpB5IBAzAuN5gBAKABAaoBB2d3cy13aXqwAQq4AQI&sclient=gws-wiz&ved=0ahUKEwjLkLTIpu3uAhXYAYgKHcsDCCAQ4dUDCAc&uact=5" class="google"><i class="fa fa-google"></i></a>
                    <a href="https://www.google.co.kr/chrome/?brand=JJTC&gclid=Cj0KCQiA1KiBBhCcARIsAPWqoSqAXvtBiUxMxP79vieCyAc4s_SEDG1Vm-IUOHPlViJmpfIZa5BXjTUaAoiLEALw_wcB&gclsrc=aw.ds" class="skype"><i class="fa fa-chrome"></i></a>
                </div>

                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
</footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>-->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
$( document ).ready(function(){

	//테스트용 데이터
	var sel1 = {
    	" ":"지역",
    	"Seoul":"서울",
        "Busan":"부산",
        "Daegu":"대구",
        "Incheon":"인천",
        "Gwangju":"광주",
        "Daejeon":"대전",
        "Ulsan":"울산",
        "Sejong":"세종",
        "Gyeonggi":"경기",
        "Kangwon":"강원",
        "Chungbuk":"충북",
        "Chungnam":"충남",
        "Jeonbuk":"전북",
        "Jeonnam":"전남",
        "Gyeongbuk":"경북",
        "Gyeongnam":"경남",
        "Jeju":"제주"

    };

    //sel1이 여성일경우
    var sel2_1 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    //sel1이 남성일경우
    var sel2_2 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_3 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_4 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_5 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_6 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_7 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_8 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_9 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_10 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_11 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_12 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_13 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_14 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_15 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_16 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel2_17 = {
    	" ":"브랜드 선택",
    	"HYUNDAI": "현대",
    	"KIA": "기아",
        "SAMSUNG": "르노삼성",
        "BMW": "BMW",
        "GM": "GM",
        "HANBUL": "한불모터스",
        "TESLA": "테슬라",
        "JAGUAR": "재규어",
        "BENZ": "벤츠",
        "AUDI": "아우디",
        "SEMISISCO": "세미시스코"
    };

    var sel3_1 = {
    	" ":"차종",
    	"A": "코나(기본형)",
        "B": "코나(경제형)",
        "C": "아이오닉(HP)",
        "D": "아이오닉(PTC)"
    };
    var sel3_2 = {
    	" ":"차종",
    	"E": "니로(HP)",
        "F": "니로(PTC)",
        "G": "니로 EV",
        "H": "쏘울(기본형)",
        "I": "쏘울(도심형)"
    };

    var sel3_3 = {
    	" ":"차종",
    	"J": "ZOE ZEN",
        "K": "ZOE INTENS ECO",
        "L": "ZOE INTENS"
    };

    var sel3_4 = {
    	" ":"차종",
    	"M": "i3 120Ah Lux",
        "N": "i3 120Ah SoL+"
    };

    var sel3_5 = {
    	" ":"차종",
    	"O": "볼트 EV LT",
        "P": "볼트 EV Primier"
    };

    var sel3_6 = {
    	" ":"차종",
    	"Q": "Peugeot e-208",
        "R": "DS3 E-tense",
        "S": "Peugeot e-2008"
    };

    var sel3_7 = {
    	" ":"차종",
    	"T": "Model S",
        "U": "Model 3 (SRP RWD)",
        "V": "Model 3 (Long Range)",
        "W": "Model 3 (Performance)"
    };

    var sel3_8 = {
    	" ":"차종",
    	"X": "I-PACE EV400"
    };

    var sel3_9 = {
    	" ":"차종",
    	"Y": "EQC 400 4M",
        "Z": "EQC 400 4MATIC"
    };

    var sel3_10 = {
    	" ":"차종",
    	"AA": "e-tron 55 quattro"
    };

    var sel3_11 = {
    	" ":"차종",
    	"BB": "SMART EV Z"
    };



   //sel1에 서버에서 받아온 값을 넣기위해..
   // map배열과 select 태그 id를 넘겨주면 option 태그를 붙여줌.
   // map[키이름] = 그 키에 해당하는 value를 반환한다.
   //retOption(데이터맵, select함수 id)



   function retOption(mapArr, select){
    	var html = '';
    	var keys = Object.keys(mapArr);
    	for (var i in keys) {
    	    html += "<option value=" + "'" + keys[i] + "'>" + mapArr[keys[i]] + "</option>";
    	}

        $("select[id='" + select +"']").html(html);
   }

   $("select[id='sel1']").on("change", function(){
    	var option = $("#sel1 option:selected").val();
        var subSelName = '';
    	if(option == "Seoul") {
        	subSelName = "sel2_1";

        } else if(option == "Busan"){
        	subSelName = "sel2_2";

        } else if(option == "Daegu"){
        	subSelName = "sel2_3";

        } else if(option == "Incheon"){
        	subSelName = "sel2_4";

        } else if(option == "Gwangju"){
        	subSelName = "sel2_5";

        } else if(option == "Daejeon"){
        	subSelName = "sel2_6";

        } else if(option == "Ulsan"){
        	subSelName = "sel2_7";

        } else if(option == "Sejong"){
        	subSelName = "sel2_8";

        } else if(option == "Gyeonggi"){
        	subSelName = "sel2_9";

        } else if(option == "Kangwon"){
        	subSelName = "sel2_10";

        } else if(option == "Chungbuk"){
        	subSelName = "sel2_11";

        } else if(option == "Chungnam"){
        	subSelName = "sel2_12";

        } else if(option == "Jeonbuk"){
        	subSelName = "sel2_13";

        } else if(option == "Jeonnam"){
        	subSelName = "sel2_14";

        } else if(option == "Gyeongbuk"){
        	subSelName = "sel2_15";

        } else if(option == "Gyeongnam"){
        	subSelName = "sel2_16";

        } else if(option == "Jeju"){
        	subSelName = "sel2_17";

        } else{
        	$("#sel2").hide();
        	return;
        }
        $("#sel2").show();
        retOption(eval(subSelName), "sel2");
    })

   $("select[id='sel2']").on("change", function(){
    	var option = $("#sel2 option:selected").val();
        var subSelName = '';
    	if(option == "HYUNDAI") {
        	subSelName = "sel3_1";

        } else if(option == "KIA"){
        	subSelName = "sel3_2";

        } else if(option == "SAMSUNG"){
        	subSelName = "sel3_3";

        } else if(option == "BMW"){
        	subSelName = "sel3_4";

        } else if(option == "GM"){
        	subSelName = "sel3_5";

        } else if(option == "HANBUL"){
        	subSelName = "sel3_6";

        } else if(option == "TESLA"){
        	subSelName = "sel3_7";

        } else if(option == "JAGUAR"){
        	subSelName = "sel3_8";

        } else if(option == "BENZ"){
        	subSelName = "sel3_9";

        } else if(option == "AUDI"){
        	subSelName = "sel3_10";

        } else if(option == "SEMISISCO"){
        	subSelName = "sel3_11";

        } else{
        	$("#sel3").hide();
        	return;
        }
        $("#sel3").show();
        retOption(eval(subSelName), "sel3");
    })

   retOption(sel1, "sel1");
   retOption(sel2, "sel2");
   retOption(sel3, "sel3");
});
</script>

</body>

</html>