<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HVAC | Template</title>

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/elegant-icons.css"%}'>
    <link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/jquery-ui.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/slicknav.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="{% url 'signup' %}" class="primary-btn">회원가입</a>
        </div>
        <div class="offcanvas__logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 00:00 am to 24:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> hys9633@naver.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>02-1544-9001</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-clock-o"></i> Week day: 00:00 am to 24:00 pm</li>
                            <li><i class="fa fa-envelope-o"></i> hys9633@naver.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__phone">
                                <i class="fa fa-phone"></i>
                                <span>05-1544-9001</span>
                            </div>
                            <div class="header__top__social">
                                <a href="https://github.com/bongsuyeon/Project_Electric-Vehicle"><i class="fa fa-github"></i></a>
                                <a href="https://www.youtube.com/results?search_query=%EC%A0%84%EA%B8%B0%EC%B0%A8"><i class="fa fa-youtube"></i></a>
                                <a href="https://www.google.co.kr/search?safe=strict&source=hp&ei=rCYrYLG9EdeTr7wPqfKi2Ac&iflsig=AINFCbYAAAAAYCs0vLq8tMS5gM00fO1IIUNMuMpZdEB1&q=%EC%A0%84%EA%B8%B0%EC%B0%A8&oq=%EC%A0%84%EA%B8%B0%EC%B0%A8&gs_lcp=Cgdnd3Mtd2l6EAMyCAgAELEDEIMBMggIABCxAxCDATIICAAQsQMQgwEyCAgAELEDEIMBMggIABCxAxCDATIICAAQsQMQgwEyCAgAELEDEIMBMggIABCxAxCDATIICAAQsQMQgwEyBAgAEAM6AggAOgUIABCxA1CQBlj1EWCwE2gCcAB4AYABkQGIAc4IkgEDMC44mAEAoAEBqgEHZ3dzLXdperABAA&sclient=gws-wiz&ved=0ahUKEwixw-n2pu3uAhXXyYsBHSm5CHsQ4dUDCAc&uact=5"><i class="fa fa-google"></i></a>
                                <a href="https://www.google.co.kr/chrome/?brand=JJTC&gclid=Cj0KCQiA1KiBBhCcARIsAPWqoSqAXvtBiUxMxP79vieCyAc4s_SEDG1Vm-IUOHPlViJmpfIZa5BXjTUaAoiLEALw_wcB&gclsrc=aw.ds"><i class="fa fa-chrome"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <!--  수정  -->
                            <ul>
                                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                <li ><a href="{% url 'map' %}">충전소 찾기</a></li>
                                <li><a href="{% url 'car' %}">전기차 정보</a></li>
                                <li><a href="#">구매 및 지원</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'purchase' %}">보조금</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'question_list' %}">게시판</a></li>
                                <li>
                                {% if user.is_authenticated %}
                                    <a class="nav-link" href="{% url 'logout' %}">{{ user.username }} (로그아웃)</a>
                                    {% else %}
                                    <a href="{% url 'login' %}">로그인</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                        <div class="header__nav__widget">
                            <div class="header__nav__widget__btn">
                                <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
                            </div>
                            <a href="{% url 'signup'%}" class="primary-btn">회원가입</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="{% static 'img/hero-bg.jpg' %}">
        <div class="slider-area hero-overly">
            <div class="row">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <!-- Hero Caption -->
                            <div class="hero__caption">
                                <h2 id="FindTitle">전기차 충전소를 찾아보세요</h2></br>
                            </div>
                            <!--Hero form -->
                            <form action="{% url 'mapSearch' %}" class="search-box" method="GET">
                                <div class="input-form">                                    
                                    <input type="text" name="mapword" placeholder="What are you looking for?">
                                </div>
                                <div class="select-form">
                                    <div class="select-itms">
                                        <select name="mapselect" id="select1" style="display: none;">
                                            <option value="">모든 지역</option>
                                            <option value="서울">서울</option>
                                            <option value="경기도">경기도</option>
                                            <option value="제주도">제주도</option>
                                            <option value="강원도">강원도</option>
                                            <option value="충청북도">충청북도</option>
                                            <option value="충청남도">충청남도</option>
                                            <option value="경상북도">경상북도</option>
                                            <option value="경상남도">경상남도</option>
                                            <option value="전라북도">전라북도</option>
                                            <option value="전라북도">전라남도</option>
                                        </select>
                                        <div class="nice-select" tabindex="0">
                                            <span class="current" >모든 지역</span>
                                                <ul class="list">
                                                    <li data-value="" class="option selected">모든 지역</li>
                                                    <li data-value="서울" class="option">서울</li>
                                                    <li data-value="경기도" class="option">경기도</li>
                                                    <li data-value="제주도" class="option">제주도</li>
                                                    <li data-value="강원도" class="option">강원도</li>
                                                    <li data-value="충청북도" class="option">충청북도</li>
                                                    <li data-value="충청남도" class="option">충청남도</li>
                                                    <li data-value="경상북도" class="option">경상북도</li>
                                                    <li data-value="경상남도" class="option">경상남도</li>
                                                    <li data-value="전라북도" class="option">전라북도</li>
                                                    <li data-value="전라남도" class="option">전라남도</li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="search-form">
                                     <!--<a href="#">Search</a>-->
                                     <!--style=""-->
                                    <a><input type="submit" value="Search" style="width: 100%; height: 60px; color: white;background-color:transparent;  border:0px transparent solid;"></input></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
        <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Website</span>
                        <h2>What We Offers</h2>
                        <p>전기차 이용자를 위한 맞춤 정보를 하나의 웹사이트를 통해 전달하고자 함</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="{% static 'img/services/map1.png' %}" alt="">
                        <h5 class="location">전기차 충전소 위치 제공</h5>
                        <p>현 위치 정보를 기준으로 가까운 충전소 제시함</p>
                        <a href="{% url 'map' %}"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="{% static 'img/services/car1.png' %}" alt="">
                        <h5>전기차 모델 소개</h5>
                        <p>국내 판매량을 기준으로 전기차 모델을 소개</p>
                        <a href="{% url 'car' %}"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="{% static 'img/services/money1.png' %}" alt="">
                        <h5>구매 보조금 정보 제공</h5>
                        <p>전기차 구매 시 보조금에 대한 정보 제공</p>
                        <a href="{% url 'purchase' %}"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Feature Section Begin -->
    <section class="feature spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature__text">
                        <div class="section-title">
                            <span>Info</span>
                            <h3>What is an electric car?</h3>
                        </div>
                        <div class="feature__text__desc">
                            <p> 전기자동차란 말 그대로 전기 배터리만으로 운영되는 무공해 자동차를 말합니다.
                            전기로 구동되는 전동기를 사용하여 바퀴를 굴리는 자동차로서 디젤, 가솔린 등의 내연기관 자동차와 차이를 보입니다.
                            일반적으로 전기자동차는 다음과 같이 EV, PHEV, HEV 세 종류로 나눠지게 됩니다.</p>
                            <p> 1) EV : Electric Vehicle<br>
                            2) PHEV : Plug In Hybrid Electric Vehicle<br>
                            3) HEV : Hybrid Electric Vehicle</p>
                        </div>
                        <div class="feature__text__btn">
                            <a href="https://www.samsungsdi.co.kr/column/all/detail/18.html" class="primary-btn">전기차의 미래</a>
                            <a href="https://tech.hyundaimotorgroup.com/kr/article/will-electric-cars-dominate/" class="primary-btn partner-btn">대세는 전기차</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="{% static 'img/feature/feature-1.png' %}" alt="">
                                </div>
                                <h6>Engine</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="{% static 'img/feature/feature-2.png' %}" alt="">
                                </div>
                                <h6>Turbo</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="{% static 'img/feature/feature-3.png' %}" alt="">
                                </div>
                                <h6>Colling</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="{% static 'img/feature/feature-4.png' %}" alt="">
                                </div>
                                <h6>Suspension</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="{% static 'img/feature/feature-5.png' %}" alt="">
                                </div>
                                <h6>Electrical</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="{% static 'img/feature/feature-6.png' %}" alt="">
                                </div>
                                <h6>Brakes</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Section End -->


    <!-- Chooseus Section Begin -->
    <section class="chooseus spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="chooseus__text">
                        <div class="section-title">
                            <h2>How it works</h2>
                            <p>전기차는 고전압 배터리에서 전기에너지를 전기모터로 공급하여 구동력을 발생시키는 차량으로, 화석연료를 전혀 사용하지 않는 무공해 차량입니다.</p>
                        </div>
                        <ul>
                            <li><i class="fa fa-check-circle"></i> 내연차와 달리 엔진이 없이 배터리와 모터만으로 차량 구동합니다. </li>
                            <li><i class="fa fa-check-circle"></i> 엔진이 없으므로 대기오염물질과 온실가스를 배출하지 않습니다.       </li>
                            <li><i class="fa fa-check-circle"></i> 배터리 용량에 따라 주행가능 거리에 차이가 있습니다.              </li>
                        </ul>
                        <div class="feature__text__btn">
                            <span class="primary-btn">#친환경적</span>
                            <span class="primary-btn partner-btn">#경제적</span>
                            <span class="primary-btn">#안전성</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chooseus__video set-bg">
            <img src="{% static 'img/chooseus-video.png' %}" alt="">
            <a href="https://www.youtube.com/watch?v=x2hTOauA5z8"
                class="play-btn video-popup"><i class="fa fa-play"></i></a>
        </div>
    </section>
    <!-- Chooseus Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us</h2>
                            <br><h5> 2조 전기차 웹사이트</h5><br>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> 02-1544-9001</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> hys9633@naver.com</div>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-3">
                        <div class="footer__widget">
                            <ul>
                                <li><a href="{% url 'map' %}"><i class="fa fa-angle-right"></i>충전소 찾기</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="footer__widget">
                            <ul>
                                <li><a href="{% url 'car' %}"><i class="fa fa-angle-right"></i>전기차 정보</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="footer__widget">
                            <ul>
                                <li><a href="{% url 'purchase' %}"><i class="fa fa-angle-right"></i>구매 및 지원</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <ul>
                            <li><a href="{% url 'question_list' %}"><i class="fa fa-angle-right"></i> 게시판</a></li>
                        </ul>
                        <ul>
                            <li><a href="{% url 'login' %}"><i class="fa fa-angle-right"></i>로그인</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer__social">
                    <a href="https://www.youtube.com/results?search_query=%EC%A0%84%EA%B8%B0%EC%B0%A8" class="facebook"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://github.com/bongsuyeon/Project_Electric-Vehicle" class="twitter"><i class="fa fa-github"></i></a>
                    <a href="https://www.google.com/search?safe=strict&hl=ko&sxsrf=ALeKk02fcjZOzs1ygjVQcDQKtX4wKanO0g%3A1613440586986&source=hp&ei=SiYrYMvDOdiDoATLh6CAAg&iflsig=AINFCbYAAAAAYCs0WuOAP2uaVCh25qmHNfhW6Kic2pLM&q=%EC%A0%84%EA%B8%B0%EC%B0%A8&oq=%EC%A0%84%EA%B8%B0%EC%B0%A8&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAgjECcyCAgAELEDEIMBMggIABCxAxCDATINCAAQhwIQsQMQgwEQFDIICAAQsQMQgwEyCAgAELEDEIMBMggIABCxAxCDATIICAAQsQMQgwEyCAgAELEDEIMBOg0IIxDNAxDqAhAnEIsDOgoIIxDqAhAnEIsDOgIIADoFCAAQsQM6BwgAEIcCEBRQtBVYmCBg3yFoAnAAeAGAAaQBiAGpB5IBAzAuN5gBAKABAaoBB2d3cy13aXqwAQq4AQI&sclient=gws-wiz&ved=0ahUKEwjLkLTIpu3uAhXYAYgKHcsDCCAQ4dUDCAc&uact=5" class="google"><i class="fa fa-google"></i></a>
                    <a href="https://www.google.co.kr/chrome/?brand=JJTC&gclid=Cj0KCQiA1KiBBhCcARIsAPWqoSqAXvtBiUxMxP79vieCyAc4s_SEDG1Vm-IUOHPlViJmpfIZa5BXjTUaAoiLEALw_wcB&gclsrc=aw.ds" class="skype"><i class="fa fa-chrome"></i></a>
                </div>

                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>